(
    app: (
        port: 12345
    ),
    email: (
        creds: (
            username: "todo"
            password: "todo"
        ),
        host: "todo"
    ),
    middleware: (
        limit: (
            req_per_sec: 5,
            burst_size: 8,
        )
    )
)
